*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem; /*1 rem == 16px*/
    background-color: #e6e6e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
/*INICIO DO HEADER - CABEÇALHO*/
#area-cabecalho{ 
    padding: 0.9rem;
    background-color: #f7b600;
    text-align: center;
}

#area-logo,#area-menu{
    padding: 0.7rem;
}
.logo-branco{
    color: #fff;
}
#area-menu a{
    text-decoration: none;
    border-radius: 0.7px;
}
#area-menu a:link, #area-menu a:visited{
    color: #fff;
    padding: 8px 12px;
}
/*NAV EFEITO HOVER LINKS DAS ANCORAS*/
#area-menu a:hover{
    background-color: #fff;
    color: #f7b600;
    border-radius: 0.7rem;
}

#area-principal{
    width: 57.5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#area-postagens{
    width: 41.25rem;
}
#area-lateral{
    width: 15rem;
    margin-left: 1.2rem;
    padding: 20px;
    text-align:start;
}

#area-lateral p {
    margin: 5px;
    background-color: #fff;
    color: #565656;
}

#area-lateral a{
    margin: 5px;
}

.postagem{
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
}
.postagem-imagem{
    width: 39rem;
    border-radius: 0.4rem;
}
.postagem-titulo{
    color: #f7b600;
}
.postagem-data{
    font-size: 0.8rem;
    display: block;
    padding-bottom: 0.8rem;
}
.postagem p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}
.postagem a{
    text-decoration: none;
}
.postagem a:visited,.postagem a:link{
    color: #f7b600;
}
.postagem a:hover{
    text-decoration: underline;
}

.conteudo-lateral-titulo{
    background-color: #b4b4b4;
    border-radius: 5px 5px 0px 0px;    
}
.conteudo-lateral{
background-color:#fff ;
border-radius: 10px;
margin-top: 5px;
}

.conteudo-lateral a{
    color: #f7b600;
    text-decoration: none;
    margin: 0.5px

}
.navegacao-lateral{

    display: flex;
    flex-direction: column;
    text-align: start;
    

}

hr{
    margin: 10px auto;
    height: 5px;
    background-color: #b4b4b4;
}

footer{
text-align: center;
    background-color: #b4b4b4;
    font-weight: bold;
    font-size: large;
    margin: auto;
    width: 57.5rem;
}